<?xml version="1.0"?>
<config>
    <modules>
        <Solwin_AdvanceOrderSuccess>
            <version>0.1.0</version>
        </Solwin_AdvanceOrderSuccess>
    </modules>
    <frontend>
        <routers>
            <advanceordersuccess>
                <use>standard</use>
                <args>
                    <module>Solwin_AdvanceOrderSuccess</module>
                    <frontName>advanceordersuccess</frontName>
                </args>
            </advanceordersuccess>
        </routers>
        <layout>
            <updates>
                <advanceordersuccess>
                    <file>advanceordersuccess.xml</file>
                </advanceordersuccess>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <advanceordersuccess>
                <class>Solwin_AdvanceOrderSuccess_Helper</class>
            </advanceordersuccess>
        </helpers>
        <blocks>
            <advanceordersuccess>
                <class>Solwin_AdvanceOrderSuccess_Block</class>
            </advanceordersuccess>
        </blocks>
    </global>
</config> 